.top-profile {
  display: inline-flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  padding: 20px;
}
.profile-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  margin: 10px;
}
.profile-info {
  width: 90%;
  overflow-y: scroll;
  margin: 15px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: hidden;
  margin-top: 10px;
}
.profile-label {
  font-size: 1.2rem;
  font-weight: bold;
}
.link-detail {
  text-decoration: none;
  color: black;
}
.profile-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card-detail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.img-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.form-control2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: none;
  justify-content: center;
}
.update-profile-header {
  height: 20%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  position: sticky;
}
