.requst-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.textF {
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}
.textF:focus {
  opacity: 1;
}
.felids {
  align-items: center;
  text-align: start;
  width: 90%;
}
.labelT {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.checkbox3 {
  margin-left: 20px;
}
.scro {
  overflow-y: scroll;
  display: flex;
}
.card {
  width: 90%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.reqs {
  flex: flex;
  width: 100%;
  justify-content: stretch;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 10px;
}
.all-req {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 480px) {
  .reqs {
    flex: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    touch-action: auto;
    width: 100%;
  }
  .all-req {
    display: block;
    overflow-x: hidden;
  }
}

.req-link {
  text-decoration: none;
  color: #000;
}
.btn-status {
  margin: 10px;
  width: 20%;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #004099, #207ada);
  color: #fff;
  font-weight: bold;
}

.addressB {
  display: flex;
  flex-wrap: wrap;
}
.addressF {
  width: 11%;
  margin: 5px;
}
.addressL {
  color: #fff;
  margin: 5px;
}
.reqItem-text {
  font-size: 1.2rem;
  font-weight: bold;
}
.reqItem-sub-text {
  font-size: 0.6rem;
}

.details-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.address-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.detail-phone {
  display: flex;
  align-items: center;
}

.date-picker {
  background-color: #fff;
}

.search-text {
  width: 96%;
}

.dropdown-menu {
  text-decoration: none;
  color: #000;
}
