@import url("https://fonts.googleapis.com/css?family=Cairo");

body {
  margin: 0;
  font-family: "Cairo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .react-wavy-transitions__wavy-link {
  color: #af44fd;
}
.my-element {
  height: 25vh;
  height: calc(25 * var(--vh, 1vh));
}
